fieldset{
    border: none;
    margin: 10%;
    padding: 8px;
}
fieldset[id]{
    border: none;
    margin: 0;
    padding: 8px;
}
fieldset:disabled{
    opacity: 0.5;
}
.text{
    border: 1px solid #bbb;
}
input{
    outline: none;
    box-shadow: 3px 3px 1px rgb(0, 0, 0, 0.2);
    border: 1px solid rgb(0,0, 0, 0.5);
}
input:invalid{
    border-color: red;
}
input:valid{
    border-color: green;
}
input:required{
    border-width: 3px;
}
input:checked + label{
    font-style: italic;
}
input::placeholder{
    font-style: oblique;
    color: rgb(0, 0, 0, 0.5);
}